In [94]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [95]:
data = pd.read_csv("House Pricing Dataset.csv")
print(data.head())
print(data.tail())

        price    area  bedrooms  bathrooms  stories mainroad guestroom  \
0  13300000.0  7420.0       4.0        2.0      3.0      yes        no
1  12250000.0  8960.0       4.0        4.0      4.0      yes        no
2  12250000.0  9960.0       3.0        2.0      2.0      yes        no
3  12215000.0  7500.0       4.0        2.0      2.0      yes        no
4  11410000.0  7420.0       4.0        1.0      2.0      yes       yes

  basement hotwaterheating airconditioning  parking prefarea furnishingstatus
0       no              no             yes      2.0      yes        furnished
1       no              no             yes      3.0       no        furnished
2      yes              no              no      2.0      yes   semi-furnished
3      yes              no             yes      3.0      yes        furnished
4      yes              no             yes      2.0       no        furnished
         price    area  bedrooms  bathrooms  stories mainroad guestroom  \
544  1750000.0  3850.0       3.0        1.0      2.0      yes        no
545        NaN     NaN       NaN        NaN      NaN      NaN       NaN
546        NaN     NaN       NaN        NaN      NaN      NaN       NaN
547        NaN     NaN       NaN        NaN      NaN      NaN       NaN
548        NaN     NaN       NaN        NaN      NaN      NaN       NaN

    basement hotwaterheating airconditioning  parking prefarea  \
544       no              no              no      0.0       no
545      NaN             NaN             NaN      NaN      NaN
546      NaN             NaN             NaN      NaN      NaN
547      NaN             NaN             NaN      NaN      NaN
548      NaN             NaN             NaN      NaN      NaN

    furnishingstatus
544      unfurnished
545              NaN
546              NaN
547              NaN
548              NaN

In [96]:
df = pd.DataFrame(data)
df = pd.get_dummies(df, columns=['mainroad', 'guestroom', 'basement', 'hotwaterheating', 'airconditioning', 'prefarea', 'furnishingstatus'], drop_first=True)
df.isnull().sum()

price                              4
area                               4
bedrooms                           4
bathrooms                          4
stories                            4
parking                            4
mainroad_yes                       0
guestroom_yes                      0
basement_yes                       0
hotwaterheating_yes                0
airconditioning_yes                0
prefarea_yes                       0
furnishingstatus_semi-furnished    0
furnishingstatus_unfurnished       0
dtype: int64

In [97]:
df = df.dropna()

In [98]:
df.isnull().sum()

price                              0
area                               0
bedrooms                           0
bathrooms                          0
stories                            0
parking                            0
mainroad_yes                       0
guestroom_yes                      0
basement_yes                       0
hotwaterheating_yes                0
airconditioning_yes                0
prefarea_yes                       0
furnishingstatus_semi-furnished    0
furnishingstatus_unfurnished       0
dtype: int64

In [101]:
x = df.drop('price', axis=1)
y = df['price']

print(x)
print(y)

       area  bedrooms  bathrooms  stories  parking  mainroad_yes  \
0    7420.0       4.0        2.0      3.0      2.0             1
1    8960.0       4.0        4.0      4.0      3.0             1
2    9960.0       3.0        2.0      2.0      2.0             1
3    7500.0       4.0        2.0      2.0      3.0             1
4    7420.0       4.0        1.0      2.0      2.0             1
..      ...       ...        ...      ...      ...           ...
540  3000.0       2.0        1.0      1.0      2.0             1
541  2400.0       3.0        1.0      1.0      0.0             0
542  3620.0       2.0        1.0      1.0      0.0             1
543  2910.0       3.0        1.0      1.0      0.0             0
544  3850.0       3.0        1.0      2.0      0.0             1

     guestroom_yes  basement_yes  hotwaterheating_yes  airconditioning_yes  \
0                0             0                    0                    1
1                0             0                    0                    1
2                0             1                    0                    0
3                0             1                    0                    1
4                1             1                    0                    1
..             ...           ...                  ...                  ...
540              0             1                    0                    0
541              0             0                    0                    0
542              0             0                    0                    0
543              0             0                    0                    0
544              0             0                    0                    0

     prefarea_yes  furnishingstatus_semi-furnished  \
0               1                                0
1               0                                0
2               1                                1
3               1                                0
4               0                                0
..            ...                              ...
540             0                                0
541             0                                1
542             0                                0
543             0                                0
544             0                                0

     furnishingstatus_unfurnished
0                               0
1                               0
2                               0
3                               0
4                               0
..                            ...
540                             1
541                             0
542                             1
543                             0
544                             1

[545 rows x 13 columns]
0      13300000.0
1      12250000.0
2      12250000.0
3      12215000.0
4      11410000.0
          ...
540     1820000.0
541     1767150.0
542     1750000.0
543     1750000.0
544     1750000.0
Name: price, Length: 545, dtype: float64

In [102]:
df.boxplot(column=['price','area'])

In [80]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

# Create and fit the model
model = LinearRegression()
model.fit(X_train, y_train)

# Make predictions
y_pred = model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'Mean Squared Error: {mse}')
print(f'R^2 Score: {r2}')

Mean Squared Error: 976484771024.6132
R^2 Score: 0.6611214250980095