In [3]:
import sys
import keyword
import operator
from datetime import datetime
import os

In [4]:
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [5]:
len(keyword.kwlist)

35

In [6]:
1var = 10

SyntaxError: invalid decimal literal (4256868957.py, line 1)

In [7]:
val@2=35

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1618137862.py, line 1)

In [8]:
import = 10

SyntaxError: invalid syntax (2593154962.py, line 1)

In [9]:
val2 = 10
val = 99

In [10]:
print("hello_world")

hello_world

In [16]:
a= "I am Kanchan Joshi"
b =2024
c= 11.1
print(a)
print(b)
print(c)
d =True
e = None
print(d)
print(e)

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

I am Kanchan Joshi
2024
11.1
True
None
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'NoneType'>

In [17]:
a =600
b =562
print("Value = ",a+b)
print("Value = ",a-b)
print("Value = ",a/b)
print("Value = ",a*b)

Value =  1162
Value =  38
Value =  1.0676156583629892
Value =  337200

In [18]:
a = 365
a +=100
b = 500
b -= 56
c = 998
c *= 98
d = 300
d /= 3

print(a)
print(b)
print(c)
print(d)

465
444
97804
100.0

In [20]:
a = (100 > 300)
print(a)

b = (100 < 300)
print(b)

c = (100 >= 300)
print(c)

d = (100 <= 300)
print(d)

e = (100 != 300)
print(e)

f = (100 == 300)
print(f)

False
True
False
True
True
False

In [25]:
bool1 = True
bool2 = False
print("Value ",bool1 and bool2)


bool1 = False
bool2 = False
print("Values ",bool1 and bool2)


bool1 = True
bool2 = True
print("Values ",bool1 or bool2)


bool1 = False
bool2 = True
print("Values ",bool1 or bool2)


bool1 = True
bool2 = False
print("Values ",bool1 or bool2)


print("Value ", not bool1, not bool2)


bool1 = False
bool2 = False
print("Values ",bool1 or bool2)

Value  False
Values  False
Values  True
Values  True
Values  True
Value  False True
Values  False

In [26]:
a = ("98562")
print(type(a))

<class 'str'>

In [28]:
a = int(a)
print(type(a))

<class 'int'>

In [29]:
g =(96.56)
print(type(g))

<class 'float'>

In [31]:
g = int(g)
print(type(g))

<class 'int'>

In [33]:
a = 'king'
b = "king"
c ='''king'''
print(a)
print(b)
print(c)

king
king
king

In [34]:
e = '''king's'''
print(e)

king's

In [35]:
f = "king'''s"
print(f)

king'''s

In [37]:
g = 'king"s'
print(g)

king"s

In [39]:
greet = "Hi"
name = "Kanchan"
print(type(greet))
print(greet+name)
c = greet +name
print(c)

print(name[0])

<class 'str'>
HiKanchan
HiKanchan
K

In [40]:
a = 9
b = 4
#Floor Division
div = a // b
mod = a % b
power = a ** b
print(div, " ", mod, " ", power)

2   1   6561

In [41]:
a = input("Enter a no.")
b = input("Enter a no.")
a = int(a)
b = int(b)
avg =(a+b)/2
print("Avg: ",avg)

Enter a no.20
Enter a no.10
Avg:  15.0

In [43]:
a = float(input('Enter first side: '))
b = float(input('Enter second side: '))
c = float(input('Enter third side: '))
#semi_permiter
s = (a+b+c)/2
area = (s*(s-a)*(s-b)*(s-c)) ** 0.5
print("Area: ", area)

Enter first side: 3
Enter second side: 4
Enter third side: 5
Area:  6.0

In [46]:
x =10 
if(x<40):
    print("FAIL")
x=-1
if (x<0):
    print("Pass")
print("I am not if")

FAIL
Pass
I am not if

In [47]:
age = int(input("Age: "))
if(age>18):
    print("Eligible to Vote")
else:
    print("Not Eligible to Vote")

Age: 20
Eligible to Vote

In [49]:
x = int(input("Enter a no. "))
if(x%2==0):
    print("Even")
else:
    print("Odd")

Enter a no. 2
Even

In [50]:
mark = float(input("Enter marks:"))
if mark>=60:
    if mark<70:
        print("First Class")
    else:
        print("Distinction")

Enter marks:3092
Distinction

In [52]:
y = int(input("Year: "))

if  y%4 == 0:
    if y%100 == 0:
        if y%400 == 0:
            print("Leap Year")
        else:
            print("Not a Leap Year")
    else:
        print("Is a Leap Year")
else:
    print("Not a Leap Year")

Year: 2002
Not a Leap Year

In [54]:
ch = input("Character: ")
if(ch>='A' and ch<='Z'):
    print("Uppercase")
elif(ch>='a' and ch<='z'):
    print("Lowercase")
elif(ch>='0' and ch<='9'):
    print("Number")
print("Yay!")

Character: ABCD
Uppercase
Yay!

In [55]:
'''Write a pgm to enter the marks of a student in four sbjects. then calc
display the grade obtained by the student. if the student scores an aggre
distinction. if aggregate is 60>= and <75 then the grade is first divisio
the grade is second division. if aggrgate is 40>= and <50 hen the grade i
grade is fail'''
m1=int(input("marks1:"))
m2=int(input("marks2:"))
m3=int(input("marks3:"))
m4=int(input("marks4:"))
total=m1+m2+m3+m4
avg=(total)/4
if(avg>=75):
    print("Distinction")
elif(avg>=60 and avg<75):
    print("First Division")
elif(avg>=50 and avg<60): 
    print("Second Division")
elif(avg>=40 and avg<50):
    print("Third Division")
else:
    print("Fail")

marks1:90
marks2:95
marks3:80
marks4:85
Distinction

In [58]:
i = 0
while(i<=10):
    print(i)
    i+=1
    
i = 0
while(i<=5):
    print("VIT")
    i+=1
    
i = 0
while(i<=10):
    print(i,end='\t')
    i+=1

0
1
2
3
4
5
6
7
8
9
10
VIT
VIT
VIT
VIT
VIT
VIT
0	1	2	3	4	5	6	7	8	9	10

In [59]:
i =0
sum = 0
while(i<=10):
    sum+= i
    i+=1
avg=float(sum)/10
print("Sum: ",sum )
print("Average: ",avg)

Sum:  55
Average:  5.5

In [60]:
m=int(input("M: "))
n=int(input("N: "))
sum = 0
while(m<=n):
    sum+= m
    m+=1
print("Sum: ",sum )

M: 10
N: 20
Sum:  165

In [61]:
n = int(input("Enter number:"))
r = 0
while(n>0):
    d = n%10
    r = r*10 +d
    n = n//10
print("Reverse: ",r)

Enter number:102
Reverse:  201

In [63]:
n = int(input("Enter number:"))
sum = 0
og = n
while(n>0):
    d = n%10
    sum = sum+d**3
    n=n//10
if(sum==og):
    print("Armstrong")
else:
    print("Not Armstrong")

Enter number:153
Armstrong

In [65]:
sump =0
sumn=0
cn=0
cp=0
print("enter -1 to exit")
while(1):
    n = int(input("Enter:"))
    if(n==-1):
        break
    if(n>0):
        cp+=1
        sump += n
    else:
        cn+=1
        sumn += n
print("Positive count and sum ", cp,sump)
print("Negative count and sum ", cn,sumn)

enter -1 to exit
Enter:10
Enter:-10
Enter:90
Enter:-10
Enter:-1
Positive count and sum  2 100
Negative count and sum  2 -20

In [66]:
a= 5
for i in range(a):
    print(i)

0
1
2
3
4

In [67]:
a= range(1,5)
for i in a:
    print(i)

1
2
3
4

In [68]:
for i in range(1,5):
    print(i)

1
2
3
4

In [69]:
a=range(10,0,-1) #(beg,end,step)
for i in a:
 print(i)

10
9
8
7
6
5
4
3
2
1

In [72]:
n=int(input("Enter the value of n:"))
avg=0
sum=0

for i in range(1, n+1):
    sum = sum + i

avg = sum/n
print(avg)
print(sum)

Enter the value of n:10
5.5
55

In [73]:
n = int(input("Enter"))
fact = 1
for  i in range(n,0,-1):
    fact = fact*i
print("Factorial :",fact)

Enter5
Factorial : 120

In [74]:
n = int(input("Enter"))
for i in range(2,n):
    if(n%i==0):
        print("Not Prime")
        break
else:
    print("Prime")

Enter5
Prime

In [75]:
n=int(input("enter how many number you want in the fionacci series"))
first=0
second=1
for i in range(n):
    print(first)
    temp=first
    first=second
    second=temp+second
print()

enter how many number you want in the fionacci series10
0
1
1
2
3
5
8
13
21
34

In [79]:
for i in range(5):
    for j in range(5):
        print("#",end=' ')
    print()

# # # # #
# # # # #
# # # # #
# # # # #
# # # # #

In [81]:
for i in range(5):
    for j in range(i+1):
        print("*",end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [82]:
for i in range(5):
    for j in range(i+1):
        print(" ",end=' ')
    for k in range(5-i):
        print("*",end=' ')
    print()

  * * * * *
    * * * *
      * * *
        * *
          *

In [86]:
n=5
for i in range(n):
    for j in range(i,n):
        print(' ',end=' ')
    for k in range(i+1):
        print('2',end=' ')
    print()

          2
        2 2
      2 2 2
    2 2 2 2
  2 2 2 2 2

In [87]:
n=5
for i in range(n):
    for j in range(i):
        print(' ',end='')
    for k in range(n-i):
        print('*',end='')
    for l in range(n-i-1):
        print('*',end='')
    print()

*********
 *******
  *****
   ***
    *

In [88]:
available=3
Candies=int(input("Enter candies:"))
i=1
while(i<=Candies):
    if(i>available):
        print("out of stock")
        break
    print("Candies")
    i=i+1

Enter candies:90
Candies
Candies
Candies
out of stock

In [89]:
for i in range(1,101):
    if(i%2==0):
        continue
    else:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [93]:
#FUNCTIONS
def sub(x,y):
    for i in range(4):
        print("Vitians")
    print('Hello World ',x)
    return(x-y)
x = 20
y = 10
print(sub(x,y))
print(sub(10+10,20+20))

Vitians
Vitians
Vitians
Vitians
Hello World  20
10
Vitians
Vitians
Vitians
Vitians
Hello World  20
-20

In [96]:
def fun(num):
    num*=2
    return(num)
    print("This wouldn't execute")
x = fun(4)
x

8

In [97]:
def display(name,course='BTECH'):
    print("Name:"+name)
    print("Course:",course)
display(course='MS',name="Raj") 
display(name='King GJ')

Name:Raj
Course: MS
Name:King GJ
Course: BTECH

In [98]:
def display(str,int_x,float_y):
    print("The string is:",str)
    print("The integer value is:",int_x)
    print("The floating point value is:",float_y)
display(str="i love u",int_x=3000,float_y=0.0)

The string is: i love u
The integer value is: 3000
The floating point value is: 0.0

In [100]:
def fun(name,*fav_movies_series): #The Star means tuple 
    print('\n', name,"likes to watch")
    for movies in fav_movies_series:
        print(movies,end=" ")
fun("KJ","Multiverse of Madness","Moon Knight","Rings of power","Thor")
fun("KING","Black adam","The Batman","Aquman-The lost kingdoms")
fun("Joshi")

 KJ likes to watch
Multiverse of Madness Moon Knight Rings of power Thor
 KING likes to watch
Black adam The Batman Aquman-The lost kingdoms
 Joshi likes to watch

In [101]:
str = 'KANCHANTAI'
print('str = ', str)
print('str[0:9]=',str)
#first character
print('str[0] = ',str[0])
#last character
print('str[-1] =',str[-1])
#slicing 2nd to 5th character
print('str[1:5] = ', str[1:5])
#slicing 6th to 2nd last character
print('str[5:-2] = ', str[5:-2])
#slicing the string -9 to 6
print('str[-9:5]=',str[-9:5])
#
print('str[3] = ',str[3:])

str =  KANCHANTAI
str[0:9]= KANCHANTAI
str[0] =  K
str[-1] = I
str[1:5] =  ANCH
str[5:-2] =  ANT
str[-9:5]= ANCH
str[3] =  CHANTAI